:root {
  --color-a: 240, 255, 214;
  --color-b: 38, 87, 47;
  --color-accent-a: 40, 190, 90;
  --padding-a: 1rem;
  --padding-b: max(5%, var(--padding-a));
  --padding-c: 1lh;
  --opacity-a: .8;
  --opacity-b: .6;
  --opacity-c: .4;
  --width-a: min(50rem, 100%);
  --transition-a: .2s ease-in;
  --drop-shadow-a: drop-shadow(0 0 .5rem);
  --font-size-a: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
  --shadow-offset-a: -.5rem .5rem .5rem;

  --min-width-rem: 20rem;
  --max-width-rem: 90rem;

  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(var(--color-a));
  background-color: rgb(var(--color-b));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  @view-transition {
    navigation: auto;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 calc(50% - var(--max-width-rem) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: var(--min-width-rem);
  min-height: 100vh;
  font-size: var(--font-size-a);
}

main {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.hero {
  --_vertical-padding: 25vh;
  --_color-a: rgb(var(--color-a));
  --_color-b: rgb(var(--color-b));
  --_linear-gradient: linear-gradient(rgba(var(--color-b), var(--opacity-c)));
  --_padding-a: var(--padding-a, 1rem);
  --_padding-b: var(--padding-b, 1rem);
  --_width-a: var(--width-a, 100%);

  width: 100%;
  min-height: 100dvh;
  padding: var(--_vertical-padding) var(--_padding-a);
  align-items: center;
  row-gap: 3em;
  padding-bottom: 0;
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr max-content;
  background-image:
    var(--_linear-gradient),
    url(../images/hero.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero__title {
  width: var(--_width-a);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  font-size: 2em;
  text-align: center;
  text-wrap-style: balance;
  opacity: 1;
  transition: opacity var(--transition-a);
  line-height: 1.2;

  & > span {
    min-width: 40%;
    display: block;
    width: fit-content;
    background-color: var(--_color-a);
    padding: 1rem;
    border-radius: 0 1rem 0 1rem;
    text-shadow: none;
    color: var(--_color-b);
    line-height: 1.5;;

    &:first-of-type {
      align-self: flex-start;
      border-top-left-radius: 1rem;
      margin-bottom: -1rem;
    }

    &:last-of-type {
      margin-top: -1rem;
      margin-bottom: .5lh;
      border-bottom-right-radius: 1rem;
      align-self: flex-end;
    }
  }
}

@starting-style {
  .hero__title {
    opacity: 0;
  }
}

.hero__subtitle {
  width: var(--width-a);
  margin-top: auto;
  padding: var(--_padding-a) var(--_padding-b);
  background-color: var(--_color-a);
  border-radius: var(--_padding-a) var(--_padding-a) 0 0;
  color: var(--_color-b);
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}

/* .hero__subtitle::after {
  content: '';
  display: block;
  width: 1em;
  margin: 1em auto .5em;
  aspect-ratio: 1;
  border: 2px solid var(--_color-b);
  border-left: none;
  border-bottom: none;
  rotate: 135deg;
  animation: jumpInfinite 2s infinite;
} */

/* .logo {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--color-a));
  border-radius: 50%;

  & > svg {
    width: 85%;
  }
} */

.nav-link {
  --_transition: var(--transition-a, .2s linear);
  --_background-color: rgb(var(--_color-b, #000));

  width: 100%;
  padding: .5em;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: start;
  display: block;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  color: currentColor;
}

.nav-link::after {
  content: '';
  position: absolute;
  height: .2em;
  left: 40%;
  right: 40%;
  bottom: 0;
  border-radius: .2em .2em 0 0;
  transform: translateY(.25em);
  background-color: currentColor;
  transition: transform var(--_transition);
  z-index: -1;
}

.nav-link_active::after {
  transform: translateY(0);
}

.nav-link_with-menu {
  display: inline-flex;
  align-items: center;
  gap: .4em;
}

.nav-link_with-menu::before {
  content: '▶';
  font-size: .7em;
  transition: transform var(--_transition);
  transition-delay: .5s;
}

.nav-link_with-menu:hover::before {
  transform: rotate(90deg);
  transform-origin: center;
  transition-delay: 0s;
}

.nav-link_with-menu + ul {
  margin: 0;
  padding: 1em;
  position: absolute;
  inset: 1.5lh auto auto 50%;
  transform: translateX(-50%);
  background-color: var(--_background-color);
  list-style: none;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity var(--_transition),
    visibility var(--_transition);
  transition-delay: .5s;
  border-radius: 1em;
  box-shadow: 2px 2px 4px black;
}

.nav-link_with-menu:hover + ul,
.nav-link_with-menu + ul:hover {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

@media (width <= 40rem) {
  .nav-link_with-menu + ul {
    inset: auto 100% 50% auto;
    transform: translateY(50%);
  }
}
