:host {
  --_transition: var(--transition-a, .2s linear);
  --_background-color: var(--color-text-b, #000);
  --_multiplier: var(--multiplier-1_25, 1);
  --_burger-line-width: 3px;

  display: flex;
  margin: .5em;
  padding: 0 .5em;
  font-size: calc(1rem * var(--_multiplier));
  align-items: center;
  position: fixed;
  top: 0;
  background-color: var(--_background-color);
  border-radius: 1.5em;
  backdrop-filter: blur(8px);
  z-index: 3;
  opacity: 1;
  transition:
    opacity var(--_transition),
    height var(--_transition),
    width var(--_transition);

  @starting-style {
    opacity: 0;
  }
}

nav {
  display: flex;
  justify-content: center;
  flex: 1;
  transition:
    opacity var(--_transition),
    color var(--_transition);
  opacity: var(--_nav-opacity);
  visibility: var(--_nav-visibility);
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: .5em;
}

::slotted(li) {
  width: 100%;
  display: flex;
  position: relative;
  text-align: center;
}

button {
  font-size: inherit;
  display: none;
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 1;

  &::before,
  &::after {
    content: '';
    width: 50%;
    height: var(--_burger-line-width);
    background-color: currentColor;
    transition: var(--_transition);
  }
}

.opened {
  gap: 0;

  &::before {
    transform: translateY(var(--_burger-line-width)) rotate(-45deg);
  }
  &::after {
    transform: rotate(45deg);
  }
}

@media (width <= 640px) {
  :host {
    --_nav-opacity: 0;
    --_nav-visibility: hidden;

    width: 3em;
    height: 3em;
    padding: 0;
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
  }

  :host(.extended) {
    --_nav-opacity: 1;
    --_nav-visibility: visible;

    width: fit-content;
    height: fit-content;
    padding: 1.5em 1.5em 3em;
  }

  ul {
    min-width: 100%;
    min-height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .2em;
    transition: gap var(--_transition);
  }
}
